@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* kolory główne */
  --color-floral-white: #fffcf2;
  --color-silver: #ccc5b9;
  --color-charcoal-brown: #403d39;
  --color-carbon-black: #252422;
  --color-spicy-paprika: #eb5e28;
  --color-sage: #7a8b76;

  /* kolory dodatkowe */
  --color-sky-blue: #4a90e2;
  --color-amethyst: #9d63c9;
  --color-soft-coral: #e57a58;
  
  /* Kolory do etykiet i placeholderów */
  --color-label: #8a817c;
  --color-placeholder: #a8a39d;

  --font-sans: "Inter", sans-serif;
}